:root {
  --header: #ffffff;
  --body: #c5c5c5;
  --highlight: #05d90e;
  --rounded: 0.25rem;
  --border-size: 0.15rem;
  --background: #1a1a1a
}

html {
  background-color: var(--background);
  font-family: sans-serif;
  color: var(--body);
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 2rem;
}

h1 {
  color: var(--header);
  margin: 0;
}

h2 {
  color: var(--header);
  margin: 0;
}

h3 {
  color: var(--header);
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--highlight);
}

.highlight {
  color: var(--highlight);
}

.content-container {
  border: var(--border-size) solid var(--header);
  border-radius: var(--rounded);
  padding: 0.5rem 1rem; 
}

.hidden {
  display: none !important;
}

/* SMALL */
@media screen and (min-width: 600px) {
  body {
    max-width: 65%;
  }
}

/* MEDIUM */
@media screen and (min-width: 1000px) {
  body {
    max-width: 40%;
  }
}

