---
export const prerender = true

import Avatar from '../components/Avatar.astro';
import MapPin from '../components/icons/MapPin.astro';
import RecentActivity from '../components/RecentActivity.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";

---

<BaseLayout pageTitle={pageTitle}>
    <div class="content-container">
        <div class="card-details">
            <Avatar />
            <div class="text-detail">
                <h3>George Tranter</h3>
                <h4 class="highlight">Software Developer</h4>
                <div class="location"><MapPin class="icon"/>Newcastle, UK</div>
            </div>

            <div id="showDetailsLg" class="helper-text-lg">
                Details
            </div>
        </div>

        <div id="details" class="hidden">
            To keep things straightforward, I'm a software developer who loves building things to solve problems.
            <br><br>
            Always keeping my eyes open to opportunities to try new tech, but a firm believer in only using a tool if it's the right fit for the job, and for the customer.
            <br>
            Keep it simple stupid.
            <br><br>
            I've had exposure to a wide variety of technologies in my career, but my heart is always with web development and data engineering - so naturally, I love a dashboard.
        </div>

        <div id="showDetails" class="helper-text">
            Details
        </div>

        <div id="hideDetails" class="helper-text hidden">
            Less
        </div>

        <div id="hideDetailsLg" class="helper-text-lg hidden">
            Less
        </div>
    </div>

    <RecentActivity class="recent-activity" />
</BaseLayout>

<style>
    .card-details {
        display: flex;
        gap: 1rem;
        padding: 0.5rem 1rem;
    }

    .text-detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .helper-text {
        text-decoration: underline;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        cursor: pointer;
    }

    .helper-text-lg {
        text-decoration: underline;
        text-align: end;
        flex-grow: 1;
        margin-top: auto;
        cursor: pointer;
        display: none;
    }

    #hideDetailsLg {
        padding-right: 1rem;
        padding-bottom: 0.5rem
    }

    @media screen and (min-width: 600px) {
        .helper-text {
            display: none;
        }

        .helper-text-lg {
            display: block;
        }
    }

    #details {
        padding: 0.5rem 1rem;
    }

    .recent-activity {
        margin-top: 1rem
    }

    .location {
        display: flex;
        gap: 0.25rem;
    }

    .icon {
        width: 1rem;
        margin-top: -0.1rem;
    }
</style>

<script>
    const handleToggleClick = () => {
        const detailsElement = document.getElementById("details");
        detailsElement?.classList.toggle("hidden");

        const showElement = document.getElementById("showDetails");
        showElement?.classList.toggle("hidden");

        const hideElement = document.getElementById("hideDetails");
        hideElement?.classList.toggle("hidden");

        const showDetailsLg = document.getElementById("showDetailsLg");
        showDetailsLg?.classList.toggle("hidden");

        const hideDetailsLg = document.getElementById("hideDetailsLg");
        hideDetailsLg?.classList.toggle("hidden");
    }

    document.getElementById("showDetails")?.addEventListener("click", handleToggleClick);
    document.getElementById("hideDetails")?.addEventListener("click", handleToggleClick);
    document.getElementById("showDetailsLg")?.addEventListener("click", handleToggleClick);
    document.getElementById("hideDetailsLg")?.addEventListener("click", handleToggleClick);
</script>
