---
export const prerender = true;

import BaseLayout from "../layouts/BaseLayout.astro";
import { sanityClient } from "sanity:client";
const notes = await sanityClient.fetch(`*[_type == "note" && defined(slug)]`);

const pageTitle = "Notes";
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        {
            notes.map((note: any) => {
                return (
                    <li>
                        <a href={"/notes/" + note.slug.current}>{note.title}</a>
                    </li>
                );
            })
        }
    </ul>
</BaseLayout>
