<div class="parent">
  <div class="child"></div>
</div>

<style>
.parent {
    width: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.child {
    width: 100%;
    border: var(--border-size) solid var(--highlight);
    border-radius: var(--rounded);
    padding-top: 100%;
}
</style>