---

const { code } = Astro.props.node;

---

<div class="code-block">
    <pre class="code-block"><code>{code}</code></pre>
</div>

<style>
    .code-block {
        max-width: 100%;
        white-space: pre-wrap;
    }
</style>