---
---

<footer>
    <h4>
        Built with
        <a href="https://astro.build/" class="">Astro</a>,
        <a href="https://www.sanity.io/">Sanity CMS</a>, and
        <a href="https://www.netlify.com/">Netlify</a>,
    </h4>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
</style>